.me {
  max-width: 50vw;
  border-radius: 25%;
}

.intro-text {
  color: white;
  width: 30vw;
  text-align: left;
}

.name {
  text-align: left;
  color: white;
}

.gradient-container {
  background: linear-gradient(to right, #427add, #e66a76);
  -webkit-background-clip: text; /* Important for showing gradient through text */
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px; /* Example - adjust as needed */
}

.speel {
  font-size: 17px;
  margin-bottom: 5vh;
}

.UM {
  max-width: 35%;
  border-radius: 25%;
}

.content {
  background-color: #131314;
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    flex-grow: 0;
  }
  .me,
  .UM {
    width: 300px;
    position: relative;
    top: 100px;
    margin: 10px;
  }
  .gradient-container,
  .speel {
    position: relative;
    top: 100px;
  }
  .intro-text {
    width: auto;
    padding: 25px;
  }
}

.vertex-link {
  color: lightblue;
}
